
@{
    ViewBag.Title = "Index";
}

<h2 class="text-blue bg-dark ml-3 rounded"  style="margin-left: 100px;">Zone Membre</h2>

<button type="button" class="btn btn-light ml-5 " style="border: 1px solid silver;height:30px;margin-left: 100px;">
    @Html.ActionLink("Ajouter un bien", "FormBien", "Home")
    @*<a href="/Home/FormBien">Ajouter un bien</a>*@
</button>

